body{
    background-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    margin: auto;
}
img{
    display: block;
    margin: auto;
    height: 75vh;
    transition: all ease-in-out 400ms;
}
nav{
    background-image: linear-gradient(rgb(241, 241, 241),rgb(180, 180, 180),rgb(240, 240, 240));
    background-size: contain;
    height:auto;
    text-align: center;
    margin: auto;
    border-radius: 1vw;
    padding-top: 4vh;
    padding-bottom: 1vh;
}
.a{
    color: rgb(0, 0, 0);
    text-shadow: rgba(0, 0, 0, 0.75) 0 0 10px;
    text-decoration: none;
    margin: 1%;
    font-family: 'Product Sans';
    font-size: 1.75vw;
    vertical-align:100%;
    transition: 0.8s;
    transition-duration: infinite;
}
.a:hover{
    font-size: 1.6vw;
}
