nav{
    background-image: linear-gradient(rgb(0, 0, 0),rgb(59, 59, 59),rgb(0, 0, 0));
    background-size: contain;
    height:auto;
    text-align: center;
    margin: auto;
    border-radius: 1vw;
    padding: 1%;
    margin-bottom: 5vh;
}
body{
    background-color: black;
    color: rgb(255, 255, 255);
    margin: auto;
}
.a:hover{
    font-size: 1.6vw;
}
nav img{
    width: 5vw;
    transition: width ease-in-out 400ms;
}
nav img:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2vw;
    width: 4.75vw;
}
.a{
    color: rgb(255, 255, 255);
    text-shadow: rgba(255, 255, 255, 0.75) 0 0 10px;
    text-decoration: none;
    margin: 1%;
    font-family: 'Product Sans';
    font-size: 1.75vw;
    vertical-align:100%;
    transition: all 0.8s;
    transition-duration: infinite;
}
h1,h4{
    text-shadow: rgba(255, 255, 255, 0.75) 0 0 10px;
    text-align: center;
    font-family: 'Product Sans';
    font-size: 1.65vw;
    transition:font-size 0.8s ease-in-out 100ms;
}
h1,h4:hover{
    font-size:1.85vw;
}
footer{
    font-family: 'Product Sans';
    margin-bottom: 2vh;
}

iframe{
    margin: auto;
    align-self: center;
    width: 40vw;
    height: 40vh;
}

.showcase{
    background-color: rgb(0, 0, 0);
    border-radius: 2vw;
    width: 40vw;
    height: 40vh;
    margin: auto;
    padding: auto;
    box-shadow:0 0 24px rgb(255, 255, 255);
    transition: 0.8s all;
    margin-top: 2.5vw;
    margin-bottom: 2vw;
    overflow: hidden;
}